* {
    padding: 0;
    margin: 0;
    outline: none;
    background-color: #b1b1b1;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.buy {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%)
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.job {
    width: 450px;
    height: 100px;
    text-indent: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    color: red;

}

.btn {

    width: 200px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.elem {
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: #a57d7d;
    border-radius: 10px;
    margin-left: 10px;
    opacity: 0; /* не нравилось что прыгал нижний список */
}
#spisok {
    width: 450px;
    margin-top: 20px;
}

.some {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 10px;
    display: none;
}
