* {
    padding: 0;
    margin: 0;
    outline: none;
    background-color: #b1b1b1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

.buy {
    position: absolute;
    width: 450px;
    margin-left: 100px;
    margin-top: 100px;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.job {
    width: 450px;
    height: 100px;
    text-indent: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    color: red;

}

.btn {

    width: 200px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #8587bd;
    margin-bottom: 20px;
}
.elem p {
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: #a57d7d;
    border-radius: 10px;
    margin-left: 10px;
    opacity: 0.5;
    display: none;
}
#spisok {
    padding: 10px;
    width: 450px;

}

.some {
    padding: 10px;
    border: 2px solid silver;
    border-radius: 10px;
    display: none;
}
